pandas
numpy
matplotlib
seaborn
tqdm
scikit-learn
xgboost
scipy
scikit-image>=0.19.2
opencv-python
Pillow
pyfeats
mahotas
plantcv
augmentor
difpy
transformers
tf-nightly==2.10.0.dev20220711 # for convnext models
h5py
mlflow
sklearn-evaluation
