pandas
numpy
xgboost
flask
flask_cors
jsonify
opencv-python
tqdm
pyfeats
joblib==1.1.0
python-dotenv
scikit-learn==1.1.1
scikit-image==0.19.2
tf-nightly==2.10.0.dev20220711 # for convnext models
opencv-python
dask
dask-jobqueue
matplotlib==3.5.2
numpy
pandas
plotnine
python-dateutil
scipy
plantcv